/* ตัวหนา */
@font-face {
    font-family: 'noto_sans_thai';
    src: url('./src/fonts/notosansthai-bold-webfont.eot');
    src: url('./src/fonts/notosansthai-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('./src/fonts/notosansthai-bold-webfont.woff2') format('woff2'),
    url('./src/fonts/notosansthai-bold-webfont.woff') format('woff'),
    url('./src/fonts/notosansthai-bold-webfont.ttf') format('truetype'),
    url('./src/fonts/notosansthai-bold-webfont.svg#noto_sans_thaibold') format('svg');
    font-weight: bold;
    font-style: normal;
    }
    /* ตัวปกติ */
    @font-face {
    font-family: 'noto_sans_thai';
    src: url('./src/fonts/notosansthai-regular-webfont.eot');
    src: url('./src/fonts/notosansthai-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('./src/fonts/notosansthai-regular-webfont.woff2') format('woff2'),
    url('./src/fonts/notosansthai-regular-webfont.woff') format('woff'),
    url('./src/fonts/notosansthai-regular-webfont.ttf') format('truetype'),
    url('./src/fonts/notosansthai-regular-webfont.svg#noto_sans_thairegular') format('svg');
    font-weight: normal;
    font-style: normal;
    }