@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');


body {
    margin: 0;
    color: #fff;
    background-color: #323c4c;
    font-family: 'Noto Sans', sans-serif;
    background-image: url('./src/images/botnoi_hero-wave.png'), url('./src/images/botnoi_wave-star-top.png'), url('./src/images/botnoi_footer-wave.png');
    background-position: center top, center top, bottom center;
    background-repeat: no-repeat, repeat, no-repeat;
    background-size: auto, 100% auto, auto;
}

section {
    padding-bottom: 120px;
}

section h2{
    margin-bottom: 60px;
}

footer {
    margin: 90px 0;
}

footer h2{
    margin-bottom: 90px;
}

h1,h2,h3 {
    font-weight: 700;
}

h3 {
    font-size: 1.5em;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea{
    border: 0 !important;
    padding: .75rem 1rem !important;
    height: 45px;
}


.btn{
    min-width: 100px;
    white-space: nowrap;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.btn.btn-link{
    color: #19bff3;
}

.btn.btn-link:hover{
    text-decoration: none;
    color: #14fffe;
}

.btn.nav-link{
    min-width: inherit;
}

.btn.go-top{
    min-width: 60px;
    height: 60px;
    font-size: 2em;
    line-height: 1.75em;
    background: linear-gradient(180deg, #F87979 0%, #D55D5D 100%);
    box-shadow: 0px 3px 15px rgba(248, 121, 121, 0.4);
    border-radius: 16px;
    border: 0;
    color: #333c4c;
    margin: 90px 0 0;
}

.btn-primary{
    border-radius: 10px;
    border-width: 0;
    background-image: linear-gradient(to top, #19bff3, #14fffe);
}
.btn-hover-primary:hover {
    border-color: #14fffe;
    color: #14fffe;
}
.btn-white {
    border-color: #fff;
    color: #fff;
}


.card{
    font-size: 1em;
}

.card-gradient{
    font-size: 0.9em;
    text-align: center;
    color: #fff;
    background-image: linear-gradient(180deg, #5B6370 0%, #323C4C 61.7%);
    box-shadow: 0px 3px 30px #282E36;
    border-radius: 29px;
    position: relative;
    border: none;
}

.text-blue{
    color : #14fffe;
}
.text-gradient-blue {
    background: -webkit-linear-gradient(45deg, #19BFF3, #14FFFE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.warpper{
    background-size: 100% 575px;
    background-repeat: no-repeat;
    background-position: left 0 top -100px;
}

.nav-item {
    margin: 0 .5rem;
}

ul .nav-item:last-child {
    margin-right: 0;
}

.navbar-nav .nav-link{
    color: #fff;
    padding: .275rem .5rem;
}

.navbar-nav .nav-link:hover{
    cursor : pointer;
}

.navbar-dark .nav-item .nav-link{
    color: #fff;
    padding: .33rem .75rem; 
}

.navbar-dark .nav-item.active .nav-link{
    border-radius: 10px;
    border-width: 2px;
    border-color: #17def8;
}

.navbar-brand{
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Red Hat Display', sans-serif;
}

.navbar-brand img{
    height: 1.33em;
    margin-right: 15px;
}


.navbar.navbar-onscroll{
    background-color: #333c4c!important;
    box-shadow: 0px 5px 20px #00000040;
    transition: all 0.33s ease;
}

.home_hero{
    margin-top: 60px;
    margin-bottom: 120px;
}

.home_hero-image{
    position: absolute;
    width: 100%;
    right: -30px;
    top: 15px;
}
.solution_hero-image {
    position: absolute;
    right: -30px;
    top: 15px;
}
.industry_hero-image {
    position: absolute;
    right: -30px;
    top: 20%;
    width: 60%;
}
.case_studt_hero-image {
    position: absolute;
    right: -30px;
    top: 20%;
    width: 45%;
}

.home_hero-content{
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 1.2em;
    position: relative;
}

.home_hero-content h1{
    font-size: 3.125em;
    color: #fff;
}

.home_hero-content .sub_h1{
    display: block;
    font-weight: 400;
    font-size: 0.9em;
}

.home_hero-content p{
    color: #fff;
    font-weight: 300;
    font-size: 22px;
    line-height: 30px;
}

.home_service-container{
    padding-top: 75px;
}

.home_service-card{
    min-height: 375px;
    font-size: 0.9em;
}

.home_service-card h3{
    height: 2.25em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.home_service-card .card-body{
    padding: 120px 20px 0;
}

.home_service-card .card-button{
    padding: 15px 15px 30px;
}

.home_service-card img{
    position: absolute;
    top: -105px;
    right: 0;
    left: 0;
    width: 290px;
    margin: 0 auto;
}

.home_hilight{
    background-position: center;
    background-size: 120%;
    background-repeat: no-repeat;
}

.home_hilight-card{
    padding-top: 375px;
    background-size: 350% auto;
    background-position: top center;
}

.home_hilight-card .card-body{
    background: linear-gradient(180deg, #5b637000 10%, #323c4cc7 60%);
    border-radius: 0 0 28px 28px;
    padding: 75px 0 0;
}

.home_hilight-card .card-body p{
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 1px;
    padding: 15px;
    margin-bottom: 0.8em !important;
}

.home_partner-logo img{
    width: 100%;
}

.home_partner-client{
    background-color: #fff;
    height: 100px;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 30px;
}

.home_news{
    background-size: 100% 90%;
    background-position: top center;
    background-repeat: no-repeat;
}

.home_news h3 {
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
    letter-spacing: 1px;
}

.home_news p {
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 1px;
    font-weight: 500;
}

.home_news-card{
    padding-top: 220px;
    background-size: 150%;
    background-position: top center;
}

.solution_detail-content {
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}

.chatbot_detail {
    margin-bottom: 90px;
    padding-top: 120px;
}

.chatbot_detail>* img {
    max-width: 38px;
}

.chatbot_detail h1 {
    font-size: 44px;
    line-height: 52px;
    white-space: nowrap;
}

.chatbot_detail h4 {
    font-size: 20px;
    line-height: 20px;
    white-space: nowrap;
}

section.case_study_use_case + section.case_study_use_case {
    background-image: url('./src/images/botnoi_wave-news.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.chatbot_engine h2,
.chatbot_solution h2,
.chatbot_console h2,
.chatbot_showcase h2,
.industry_service h2,
.industry_product h2,
.case_study_use_case h2 {
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
}

.case_study_use_case h3 {
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 1px;
}

.case_study_use_case h4 {
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 1px;
}

.chatbot_engine p,
.chatbot_console p,
.industry_product p,
.case_study_use_case p {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

.chatbot_solution h5 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}

.square-box-container {
    position: relative;
    width: 100%;
    padding-top: 100%;
}
.square-box-container>.square-box-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
}

.box-4-3-container {
    position: relative;
    width: 100%;
    padding-top: 75%;
}
.box-4-3-container>.box-4-3-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
}

.console_content-container {
    filter: drop-shadow(0px 4px 30px rgba(0, 194, 255, 0.35));
}
.industry_content-container {
    filter: drop-shadow(0px 4px 30px rgba(0, 194, 255, 0.35));
}

.footer{
    margin: 0;
}

.footer h3 {
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
}

.footer address {
    font-size: 20px;
    font-weight: 300;
    line-height: 34px;
    font-family: 'Roboto', sans-serif;
}

.footer .form-control {
    background-color: #5B6370;
    border-radius: 13px;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 1px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.55);
}
.footer .form-control::placeholder {
    color: rgba(255, 255, 255, 0.55);
}

.footer .scroll-up-contain small {
    font-size: 10px;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 1px;
}

.footer_social img{
    width: 50px;
    margin-right: 15px;
}

.phone-cell {
    display: inline-block;
    vertical-align: middle;
    background: url('./src/images/phone-call.png') no-repeat;
    background-size: contain;
    width: 28px;
    height: 28px;
}

.card-body > .card-banner {
    height: 220px;
    overflow: hidden;
    background-color: #fff;
}
.card-body > .card-banner > img {
    height: 100%;
}


/* iPad Pro */
@media (max-width: 1200px) {

    section{
        padding-bottom: 75px;
    }
    .home_hero{
        margin-bottom: 0;
    }
    .home_service-card{
        min-height: 410px;
    }
    .home_hilight-card{
        padding-top : 300px;
    }
    .home_news-card{
        padding-top : 180px;
    }
    .home_hero-image,
    .solution_hero-image,
    .industry_hero-image,
    .case_studt_hero-image{
        right: 0;
    }

}

/* iPad */
@media (max-width: 992px) {

    section{
        padding-bottom: 75px;
    }
    section h2 {
        margin-bottom: 45px;
    }
    .navbar-dark .navbar-toggler{
        border: none;
    }
    .navbar-dark .navbar-toggler:focus{
        border: none;
        outline: 0;
        color: #14fffe;
    }


    .home_hero {
        margin-bottom: 15px;
    }
    .home_service-card{
        min-height: 375px;
    }
    .home_service-card img{
        width: 200px;
    }
    .home_service-card .card-body{
        padding: 50px 10px 0;
    }
    .home_service-card .card-button{
        padding: 15px 0;
    }
    .home_hilight-card {
        padding-top: 180px;
        background-size: 400% auto;
    }
    .home_news p{
        min-height: 4.5em;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .home_news-card {
        padding-top: 120px;
    }

}

/* iPhone 11 Pro Max */
@media (max-width: 768px) { 
    .home_service-container>* {
        margin-bottom: 8rem;
    }
    .home_service-container>*:last-child {
        margin-bottom: 0;
    }

    .home_hilight-card {
        padding-top: 180px;
        background-size: 150% auto;
    }

    .home_news-card {
        padding-top: 200px
    }
}

/* iPhone 11*/
@media (max-width: 576px) { 

}